In [12]:
#python

FirstName = "John"
secondName = "Dow"
age = "20"
University = "UE University"
gpa1 = 0.0
gpa2 = 0.0
gpa3 = 0.0
gpa4 = 0.0

def gpa(gpa1,gpa2,gpa3,gpa4):
    gpa = (gpa1 + gpa2 + gpa3 + gpa4)/4
    gpaMax = str(gpa)
    print("Hello my name is:" + " " + FirstName + " " + secondName +" "+ ",My age is:" + " " +age+ " " +",I study at"
         +" "+University+" "+",My GPA is" + " " +gpaMax)
gpa(1,1,1,1.2)

Hello my name is: John Dow ,My age is: 20 ,I study at UE University ,My GPA is 1.05

In [17]:
#leap year

year = 2021

isLeapyear = (year % 4 == 0) & (year % 100 != 0)
isLeapyear = isLeapyear | (year % 400 == 0)

print("is this year"+" ",year," "+"a leap year", isLeapyear)

is this year  2021  a leap year False

In [19]:
#if statements

x = 22.6
y = 24

if(x>y):
    t = x
    x = y
    y = t
print(x)
print(y)

22.6
24

In [23]:
#max

x = 22.6
y = 24

if(x > y):
    max = x
    print(x)
else:
    max = y
    print(y)

24

In [29]:
#coin
import random

r = random.uniform(0,1)

if r < 0.5:
    print("head")
else:
    print("tails")

tails

In [32]:
#divisible by 3
x = 31

if x % 3 == 0:
    print("numbes is divisible by 3,",x)
else:
    print("not divisible")

not divisible

In [36]:
#nested if

x = -1

if x == 0:
    print("numbes is 0")
else:
    if x < 0:
        print("number is negative")
    else:
        print("number is positive")

number is negative

In [41]:
#income tax
income = 444556
taxRate = 0
if income < 0:
    print("error on income")
elif income < 47449:
    taxRate = 0.22
elif income > 47450 & income < 114650:
    taxRate = 0.25
elif income >= 114651 & income < 174700:
    taxRate = 0.28
elif income > 174701 % income < 311950:
    taxRate = 0.33
elif income > 311951:
    taxRate = 0.35

tax = taxRate * income
print("you owe ",tax," €, to the IRS")

you owe  111139.0  €, to the IRS