In [2]:
#add two numbers
#12 and 14

#Assign the variables
A = 12
B = 34

#Addition
C = A + B

#PRINT THE RESULTS
print(C)

A = C

46

In [4]:
A = C
print(A)

46

In [6]:
x1 = 20
x2 = 30
x3 = x1+x2
print(x3)

50

In [7]:
x1 = x1 + 10
print(x1)

30

In [8]:
d = 9
b = 1.6
c = b*d
print(c)

14.4

In [9]:
type(d)

int

In [10]:
type(b)

float

In [11]:
type(c)

float

In [15]:
y = int(6)
print(y)

6

In [18]:
s = 'hola'
print(s)

hola

In [20]:
type(s)

str

In [21]:
#It's a nice way to meet you

x1 = "'It's a nice way to meet you'" 
print(x1)
#<--- syntax in order to add ' ' inside the code,
# 'IT'S' a nice way to meet you' <-- error

'It's a nice way to meet you'

In [25]:
x2 = "It's a nice way to meet you \"at the university\""
print(x2)

It's a nice way to meet you "at the university"

In [31]:
initialVelocity = 5
time = 0.6
g = 9.81 * 0.01

y = (initialVelocity*time) - (0.5*g*(time**2))
print(y)

2.982342

In [32]:
res = str(y)
res1 = "the results are: " +res + " m"
print(res1)

the results are: 2.982342 m

In [33]:
x = 12929384234956843592852389463894638491834619384691386491836498126491

x = x**2

print(x)

167168976695150563684574748508596771564470499421934775907373109524789858414353661175835744726205484201354125093593102381784953035973081

In [34]:
x = 0.000000000000000000000000000000000000000000000000123
print(x)

1.23e-49

In [35]:
x1 = 2.99e-297

print(x1)

2.99e-297

In [38]:
x3 = 2.99e-700
print(x3)

0.0

In [39]:
x1 = 2.9989898972220002
x2 = 0.000000000000000000000000000001

x3 = x1*x2
print(x3)

2.9989898972220005e-30

In [40]:
x = 0xAB18
print(x)

43800

In [43]:
x = 15
y = 3
z = x/y
t = x%y
print(z)
print(t)

5.0
0

In [44]:
x = 8
y = 18
z = -2
v = x + y * z
print(v)

-28

In [46]:
x1 = 3 + 5j
x2 = -3 + 6j

x3 = x1 + x2
print(x3)

11j

In [47]:
x3 = x1/x2
print(x3)

(0.4666666666666667-0.7333333333333333j)

In [51]:
x1 = "Donald"
x2 = "Trump"
x3 = x1 +" "+ x2
print(x3)

Donald Trump

In [52]:
x3 = x1 * 4

In [53]:
print(x3)

DonaldDonaldDonaldDonald

In [54]:
x3 = x1 / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [55]:
x = True
y = False

z = x & y
print(z)

False

In [2]:
import math
x = 3.6676
x1 = math.sin(x)
print(x1)

-0.5020844311905129